p {
    margin: 1rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    white-space: nowrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
    position: relative;
}

svg {
  border: 1px solid black;
  font-family: arial;
  font-size: 1.5rem;
}

.bar:hover {
  fill: orange;
}

.tick {
  font-family: arial;
}

#tooltip {
  position: absolute;
  top: 390px;
  left: 0px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

#tooltip.visible {
  opacity: 1;
}

.tooltip-text {
  font-size: 1rem;
}

#left-axis-text {
    font-size: 1rem;
}
